body{
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: white;
}

h2 {
    color: white; 
    font-size: 22px;
    font-weight: 100;
    
}

table, th, td {
    text-align: left;
    background-color: white;
    border: 2px solid black;
    height: 5%;
}

button {
    color: black;
    font-size: 20px;
    border-radius: 12px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}

header {
    overflow: hidden;
    background-color: #872A22;
    padding: 32px 0px;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
}


table{
    border-collapse: collapse;
    width: 100%
}

